{% extends "base.html" %}

{% block title %}Network Monitor{% endblock %}
{% block heading %}Network Monitor{% endblock %}

{% block front_row %}
{{ body|safe }}
<div class="col-md-12 mt-3">
  <div id="box_alert_warning" class="alert alert-warning" role="alert" hidden="true">
    This is a warning alert—check it out!
  </div>
</div>
{% endblock %}

{% block scripts %}
<!--<script src="https://cdn.jsdelivr.net/npm/ag-charts-community/dist/umd/ag-charts-community.js"></script>-->
<script src="{{ static('chart.js-4.5.1/dist/chart.umd.min.js') }}"></script>
<script>
const wsUri = "ws://" + window.location.host + "{{ websocket_url }}";
</script>
<script src="{{ url('static', filename='monitor.js') }}"></script>

<style>
.dataframe {
  width: 100%;
}
.uptime_bar {
  height: 2em;
}
</style>
{% endblock %}
